<% content_for :page_title, @review.title %>

<h1> <%= @review.title %> </h1>
<h2> <%= @review.restaurant %> </h2> 
<p> <%= simple_format @review.body %> </p>
<p> <%= @review.score %>/10 </p>
<p> Price: <%= @review.price %></p>
<p> Cuisine: <%= @review.cuisine %></p>

<% if @review.ambiance.present? %>
    <div class="ambiance">
        <p> Ambiance: <%= @review.ambiance %></p>
    </div>
<%end %>

<div class="actions">
<%= link_to "Edit this review", edit_review_path(@review) %>
<%= link_to "Delete this review", review_path(@review), method: :delete, data: { confirm: "Are you sure?"} %>
</div>